@model WebSite.Models.ProductViewModel
@{
    ViewBag.Title = "Retailer";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    string controller = Request.RequestContext.RouteData.Values["controller"] == null ? "" : Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    string action = Request.RequestContext.RouteData.Values["action"] == null ? "" : Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    string id = Request.RequestContext.RouteData.Values["id"] == null ? "" : Request.RequestContext.RouteData.Values["id"].ToString().ToLower();
}
@section styles{
    <style type="text/css">
        .gbr-main {
            min-height: auto;
        }

        #middle_box_xiuTipBox .filter-entries-label {
            width: 55px;
        }

        #middle_box_xiuTipBox .filter-entries-values {
            margin-left: 60px;
        }
    </style>
}
@section scriptsbyend{
    <script src="~/Scripts/W/owl.carousel.js"></script>
    <script src="~/Scripts/W/jquery.mouseoverbox.js"></script>
    <script type="text/javascript">
        var product = { id: '1', material: '100% Cotton', color: ['red', 'blue'], style: 'striped ', price: '1000', size: ['S', 'M', 'L'], smallImg: '' };
        var cartProducts = [];
        i = 0;
        $(document).ready(function () {

            $(".btn-addtocart").live("click", function () {

                var src = $(this).attr("imgurl");
                var id = $(this).attr("id");
                var owl_cart_item_id = "owl_cart_item" + id;
                var ihtml = '<a class="item" id="' + owl_cart_item_id + '" >';
                ihtml += '<span  info="manosque|羽绒服|5,223.00">';
                ihtml += '<img src="' + src + '" alt="">';
                ihtml += '</span>';
                ihtml += '</a>';
                var owl = $("#owl_cart").data('owlCarousel');
                owl.addItem(ihtml, 0);//添加到第1个位置


                var ihtml = '';
                ihtml += '  <div style="border: 1px solid rgb(0, 0, 0); border-image: none;  margin-right: 10px; float: left;">';
                ihtml += '  <div class="filter-lists-container" style="width:170px;">';
                ihtml += '   <dl class="filter-entries clearfix">';
                ihtml += '    <dt class="filter-entries-label">Material:</dt>';
                ihtml += '   <dd class="filter-entries-values">';
                ihtml += '    <span class="filter-item "> 100% Cotton</span>';
                ihtml += '  </dd>';
                ihtml += '  </dl>';
                ihtml += '  <dl class="filter-entries clearfix">';
                ihtml += '    <dt class="filter-entries-label">Color:</dt>';
                ihtml += '   <dd class="filter-entries-values">';
                ihtml += '     <span class="filter-item">Red</span>';
                ihtml += '     <span class="filter-item">Blue</span>';
                ihtml += '    <span class="filter-item">Blue</span>';
                ihtml += '     <span class="filter-item">Blue</span>';
                ihtml += '     <span class="filter-item">Blue</span>';
                ihtml += '     <span class="filter-item">Blue</span>';
                ihtml += '   </dd>';
                ihtml += '  </dl>';
                ihtml += '   <dl class="filter-entries clearfix">';
                ihtml += '   <dt class="filter-entries-label">Style:</dt>';
                ihtml += '   <dd class="filter-entries-values">';
                ihtml += '     <span class="filter-item ">   Striped</span>';
                ihtml += '    </dd>';
                ihtml += '  </dl>';
                ihtml += ' <dl class="filter-entries clearfix">';
                ihtml += '   <dt class="filter-entries-label">Price:</dt>';
                ihtml += '  <dd class="filter-entries-values">';
                ihtml += '     <span class="filter-item ">1000</span>';
                ihtml += ' </dd>';
                ihtml += '  </dl>';
                ihtml += ' <dl class="filter-entries clearfix">';
                ihtml += '   <dt class="filter-entries-label">Size:</dt>';
                ihtml += '  <dd class="filter-entries-values">';
                ihtml += '    <span class="filter-item ">S-L</span>';
                ihtml += '  </dd>';
                ihtml += '  </dl>';
                ihtml += ' </div>';
                ihtml += '   <input type="button" value="Remove" class="btn-removetocart" itemid="' + owl_cart_item_id + '"/><br />';
                ihtml += ' </div>';

                $("#" + owl_cart_item_id).mouseOverTip({
                    width: '175px',
                    height: '200px',
                    outlineBoxId: "middle_box",
                    boxId: "savedmiddle_box_xiuTipBox",
                    content: ihtml
                });

            });

            $(".btn-removetocart").live("click", function () {
                var owl_cart_item_id = $(this).attr("itemid")
                var index = -1;
                $("#owl_cart").find(".item").each(function (i) {
                    var id = $(this).attr("id");
                    if (id == owl_cart_item_id) {
                        index = i;
                        return;
                    }
                })

                var owl = $("#owl_cart").data('owlCarousel');
                if (index != -1) {
                    owl.removeItem(index);//根据索引移除
                    owl.goTo(index + 1);
                }
            });

            $("#owl_product .item  ul li span ").each(function (i) {

                var ihtml = '';

                ihtml += '        <div class="filter-lists-container" style="width: 160px;border-image: none; border:1px solid #000; width: 160px; margin-right: 10px; height: 228px; float: left;">';
                ihtml += '     <dl class="filter-entries clearfix">';
                ihtml += '      <dt class="filter-entries-label">Material:</dt>';
                ihtml += '   <dd class="filter-entries-values">';
                ihtml += '      <span class="filter-item "> 100% Cotton</span>';
                ihtml += '   </dd>';
                ihtml += '  </dl>';
                ihtml += '  <dl class="filter-entries clearfix">';
                ihtml += '    <dt class="filter-entries-label">Color:</dt>';
                ihtml += '    <dd class="filter-entries-values">';
                ihtml += '      <span class="filter-item">Red</span>';
                ihtml += '     <span class="filter-item">Blue</span>';
                ihtml += '    <span class="filter-item">Blue</span>';
                ihtml += '    <span class="filter-item">Blue</span>';
                ihtml += '      <span class="filter-item">Blue</span>';
                ihtml += '      <span class="filter-item">Blue</span>';
                ihtml += '      </dd>';
                ihtml += '     </dl>';
                ihtml += '   <dl class="filter-entries clearfix">';
                ihtml += '   <dt class="filter-entries-label">Style:</dt>';
                ihtml += '   <dd class="filter-entries-values">';
                ihtml += '    <span class="filter-item ">   Striped</span>';
                ihtml += '    </dd>';
                ihtml += '  </dl>';
                ihtml += '  <dl class="filter-entries clearfix">';
                ihtml += '   <dt class="filter-entries-label">Price:</dt>';
                ihtml += '    <dd class="filter-entries-values">';
                ihtml += '      <span class="filter-item ">1000</span>';
                ihtml += '    </dd>';
                ihtml += '  </dl>';
                ihtml += '  <dl class="filter-entries clearfix">';
                ihtml += '     <dt class="filter-entries-label">Size:</dt>';
                ihtml += '      <dd class="filter-entries-values">';
                ihtml += '        <span class="filter-item ">S-L</span>';
                ihtml += '    </dd>';
                ihtml += '  </dl>';
                ihtml += '  </div>';


                var src = $($(this).find("img")[0]).attr("src")
                ihtml += '   <div style="border-image: none; width: 150px;height: 100%;  float: left;">';
                ihtml += '     <div style="border: 1px solid rgb(0, 0, 0); border-image: none; width: 100%; height: 158px; margin-bottom: 5px;">manosque|羽绒服|1,223.00 </div>';
                ihtml += '   <div style="text-align: left; line-height: 28px;">';
                ihtml += '      <span>';
                ihtml += '     Reserve at $<input style="width: 69px; border-color:#000000; border-style:solid;  border-top-width:0px; border-right-width:0px; border-bottom-width:1px; border-left-width:0px;padding:0px 5px;" type="text" />';
                ihtml += '   </span>';
                ihtml += '   <span style="height: 30px; line-height: 30px; display: block; ">';
                ihtml += ' <a class="a-btn" style="font-size:12px; padding:6px 16px;" href="/Account/MyCart">Share</a>';
                ihtml += ' <a class="a-btn btn-addtocart" id="btn-addtocart_' + i + '" imgurl="' + src + '" style="font-size:12px; padding:6px 6px;" href="javascript:void(0)">Add To Cart</a>';

                ihtml += '  </span>';
                ihtml += '  </div>';
                ihtml += ' </div>';





                //    //ihtml += $(this).attr('info');
                //    //var src = $($(this).find("img")[0]).attr("src")

                //    //ihtml += ' </div>';
                //    //ihtml += ' <div style="text-align:left; line-height:28px;">';
                //    //ihtml += '   <input type="button" id="btn-addtocart_' + i + '" value="Add To Cart" class="btn-addtocart" imgurl="' + src + '"/><br />';
                //    //ihtml += '  <span>Reserve at $<input type="text" style="width:50px;" /></span>';
                //    //ihtml += '</div>';


                $(this).mouseOverTip({
                    width: '340px',
                    height: '230px',
                    outlineBoxId: "middle_box",
                    boxId: "middle_box_xiuTipBox",
                    content: ihtml
                });
            });
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#owl_product').owlCarousel({
                items: 5,
                navigation: true,
                mouseDrag: false,
                itemsDesktop: [1199, 5],
                itemsDesktopSmall: [979, 5],
                itemsTablet: [768, 5],
                itemsMobile: [479, 5],
                navigationText: ["", ""]
            });


            $('#owl_cart').owlCarousel({
                items: 6,
                navigation: true,
                mouseDrag: false,
                itemsDesktop: [1199, 6],
                itemsDesktopSmall: [979, 6],
                itemsTablet: [768, 6],
                itemsMobile: [479, 6],
                navigationText: ["", ""]
            });


            $('#product_filters_box .filter-entries .filter-entries-values .filter-item').each(function (e, t) {

                $(this).click(function () {

                    var checked = $(this).attr('checked');
                    var value = $(this).attr('value');


                    if (value === '0') {
                        $(this).parent().find('span').attr("checked", false);
                        $(this).parent().find('span').css('color', '#000');
                        $(this).css('color', '#00a9e0');
                        $(this).attr('checked', true);
                    }
                    else {
                        $(this).parent().find('span').eq(0).css('color', '#000');
                        if (checked) {
                            $(this).attr('checked', false);
                            $(this).css('color', '#000');
                        }
                        else {
                            $(this).attr('checked', true);
                            $(this).css('color', '#00a9e0');
                        }
                    }




                });
            });


            $("#retailers-@id").addClass("select");

        });
    </script>
}

<div class="gbr gbr-product" id="gbr_product">
    <div class="wrapper">
        <div class="content clearfix">
            <div class="left">
                <div class="wrapper">
                    <div class="content clearfix">
                        <div class="filter-lists-container product-filters-box" id="product_filters_box">
                            <dl class="filter-entries clearfix">
                                <dt class="filter-entries-label"><span>Category </span></dt>
                                <dd class="filter-entries-values">
                                    <span class="filter-item" value="0">All</span>
                                    <span class="filter-item" value="1">Clothes</span>
                                    <span class="filter-item" value="2">Pants</span>
                                    <span class="filter-item" value="3">Shoes</span>
                                </dd>
                            </dl>
                            <dl class="filter-entries clearfix">
                                <dt class="filter-entries-label"><span>Color</span></dt>
                                <dd class="filter-entries-values">
                                    <span class="filter-item" value="0">All</span>
                                    <span class="filter-item" value="1">Green</span>
                                    <span class="filter-item" value="2">Black</span>
                                    <span class="filter-item" value="3">Blue</span>
                                    <span class="filter-item" value="4">Orange</span>
                                </dd>
                            </dl>
                            <dl class="filter-entries clearfix">
                                <dt class="filter-entries-label"><span>Material</span></dt>
                                <dd class="filter-entries-values">
                                    <span class="filter-item" value="0">All</span>
                                    <span class="filter-item">Cotton</span>
                                    <span class="filter-item">Wool</span>
                                    <span class="filter-item">Silk</span>
                                    <span class="filter-item">Linen</span>
                                    <span class="filter-item">Nylon</span>
                                    <span class="filter-item">Ramine</span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="wrapper">
                    <div class="content clearfix middle-box" id="middle_box">
                        <!-- ProductBox -->
                        <div class="product-box" id="product_box">
                            <div class="wrapper">
                                <div class="content" style="height:300px">
                                    <div id="owl_product" class="owl-carousel owl-product">

                                        @for (var i = 0; i < Model.Products.Count; i = i + 2)
                                        {
                                            <a class="item">
                                                <ul>
                                                    <li>
                                                        @if (i < Model.Products.Count)
                                                        {
                                                            <span info="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Products[i])">
                                                                <img src="@Model.Products[i].SmallImg" alt="">
                                                            </span>
                                                        }
                                                    </li>
                                                    <li>
                                                        @if ((i + 1) < Model.Products.Count)
                                                        {
                                                            <span info="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Products[i])">
                                                                <img src="@Model.Products[i + 1].SmallImg" alt="">
                                                            </span>
                                                        }
                                                    </li>
                                                </ul>
                                            </a>
                                        }


                                        @*<a class="item">
                                                <ul>
                                                    <li>
                                                        <span info="manosque|羽绒服|1,223.00">
                                                            <img src="/images/demo/saved/shirt/01.jpg" alt="">
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span info="manosque|羽绒服|2,223.00">
                                                            <img src="/images/demo/saved/shoes/02.jpg" alt="">
                                                        </span>
                                                    </li>
                                                </ul>
                                            </a>
                                            <a class="item">
                                                <ul>
                                                    <li>
                                                        <span info="manosque|羽绒服|3,223.00">
                                                            <img src="/images/demo/saved/shirt/03.jpg" alt="">
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span info="manosque|羽绒服|4,223.00">
                                                            <img src="/images/demo/saved/shoes/04.jpg" alt="">
                                                        </span>
                                                    </li>
                                                </ul>
                                            </a>
                                            <a class="item">
                                                <ul>
                                                    <li>
                                                        <span info="manosque|羽绒服|5,223.00">
                                                            <img src="/images/demo/saved/shirt/05.jpg" alt="">
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span info="manosque|羽绒服|6,223.00">
                                                            <img src="/images/demo/saved/pants/06.jpg" alt="">
                                                        </span>
                                                    </li>
                                                </ul>
                                            </a>
                                            <a class="item">
                                                <ul>
                                                    <li>
                                                        <span info="manosque|羽绒服|7,223.00">
                                                            <img src="/images/demo/saved/shoes/07.jpg" alt="">
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span info="manosque|羽绒服|8,223.00">
                                                            <img src="/images/demo/saved/pants/08.jpg" alt="">
                                                        </span>
                                                    </li>
                                                </ul>
                                            </a>
                                            <a class="item">
                                                <ul>
                                                    <li>
                                                        <span info="manosque|羽绒服|9,223.00">
                                                            <img src="/images/demo/saved/shoes/09.jpg" alt="">
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span info="manosque|羽绒服|10,223.00">
                                                            <img src="/images/demo/saved/pants/10.jpg" alt="">
                                                        </span>
                                                    </li>
                                                </ul>
                                            </a>
                                            <a class="item">
                                                <ul>
                                                    <li>
                                                        <span info="manosque|羽绒服|11,223.00">
                                                            <img src="/images/demo/saved/shirt/11.jpg" alt="">
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span info="manosque|羽绒服|12,223.00">
                                                            <img src="/images/demo/saved/pants/12.jpg" alt="">
                                                        </span>
                                                    </li>
                                                </ul>
                                            </a>
                                            <a class="item">
                                                <ul>
                                                    <li>
                                                        <span info="manosque|羽绒服|13,223.00">
                                                            <img src="/images/demo/saved/shirt/13.jpg" alt="">
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span info="manosque|羽绒服|14,223.00">
                                                            <img src="/images/demo/saved/pants/14.jpg" alt="">
                                                        </span>
                                                    </li>
                                                </ul>
                                            </a>
                                            <a class="item">
                                                <ul>
                                                    <li>
                                                        <span info="manosque|羽绒服|15,223.00">
                                                            <img src="/images/demo/saved/pants/15.jpg" alt="">
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span info="manosque|羽绒服|16,223.00">
                                                            <img src="/images/demo/saved/shirt/04.jpg" alt="">
                                                        </span>
                                                    </li>
                                                </ul>
                                            </a>
                                            <a class="item">
                                                <ul>
                                                    <li>
                                                        <span info="manosque|羽绒服|17,223.00">
                                                            <img src="/images/demo/saved/pants/01.jpg" alt="">
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span info="manosque|羽绒服|18,223.00">
                                                            <img src="/images/demo/saved/shirt/13.jpg" alt="">
                                                        </span>
                                                    </li>
                                                </ul>
                                            </a>
                                            <a class="item">
                                                <ul>
                                                    <li>
                                                        <span info="manosque|羽绒服|19,223.00">
                                                            <img src="/images/demo/saved/pants/12.jpg" alt="">
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span info="manosque|羽绒服|20,223.00">
                                                            <img src="/images/demo/saved/shoes/11.jpg" alt="">
                                                        </span>
                                                    </li>
                                                </ul>
                                            </a>*@
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- ProductBox end -->
                        <!-- CartBox -->
                        <div class="cart-box">
                            <div class="wrapper">
                                <div class="content">
                                    <div id="owl_cart" class="owl-carousel owl-cart">
                                        <span class="owl-cart-null"></span>
                                    </div>

                                    <div class="cart-box-null">
                                        <div class="cart-box-null-img">

                                        </div>
                                        <p class="cart-box-null-text">choice products into the shopping cart </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- CartBox end -->
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="wrapper">
                    <div class="content clearfix">
                        <div class="retailers-box" style="height:410px;">
                            <span class="title">Retailers</span>
                            <ul class="options">
                                <li><a href="/Product/List/1" id="retailers-1">Bonobos</a> </li>
                                <li><a href="/Product/List/2" id="retailers-2">Jcrew</a> </li>
                                <li><a href="/Product/List/3" id="retailers-3">Jack Erwin</a> </li>
                                <li><a href="/Product/List/4" id="retailers-4">Mr Porter</a> </li>
                            </ul>
                        </div>
                        <div>
                            <span style="height: 30px; line-height: 30px; display: block; text-align: center;"><a class="a-btn" style="font-size:12px; padding:6px 8px;" href="/Account/MyCart">Go My Cart</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="poptip" id="middle_box_xiuTipBox" style="padding: 10px; left: 369.98px; top: 292.94px; width: 325px; height: 230px; position: absolute;">
            <span class="t_bg"></span>
            <span class="b_bg"></span>
            <span class="arrow arrow_bottom_left" id="tipArr"></span>
            <div class="filter-lists-container" style="width: 160px;border-image: none; border:1px solid #000; width: 160px; margin-right: 10px; height: 228px; float: left;">
                <dl class="filter-entries clearfix">
                    <dt class="filter-entries-label">Material:</dt>
                    <dd class="filter-entries-values">
                        <span class="filter-item "> 100% Cotton</span>
                    </dd>
                </dl>
                <dl class="filter-entries clearfix">
                    <dt class="filter-entries-label">Color:</dt>
                    <dd class="filter-entries-values">
                        <span class="filter-item">Red</span>
                        <span class="filter-item">Blue</span>
                        <span class="filter-item">Blue</span>
                        <span class="filter-item">Blue</span>
                        <span class="filter-item">Blue</span>
                        <span class="filter-item">Blue</span>
                    </dd>
                </dl>
                <dl class="filter-entries clearfix">
                    <dt class="filter-entries-label">Style:</dt>
                    <dd class="filter-entries-values">
                        <span class="filter-item ">   Striped</span>
                    </dd>
                </dl>
                <dl class="filter-entries clearfix">
                    <dt class="filter-entries-label">Price:</dt>
                    <dd class="filter-entries-values">
                        <span class="filter-item ">1000</span>
                    </dd>
                </dl>
                <dl class="filter-entries clearfix">
                    <dt class="filter-entries-label">Size:</dt>
                    <dd class="filter-entries-values">
                        <span class="filter-item ">S-L</span>
                    </dd>
                </dl>
            </div>
            <div style="border-image: none; width: 150px;height: 100%;  float: left;">
                <div style="border: 1px solid rgb(0, 0, 0); border-image: none; width: 100%; height: 158px; margin-bottom: 5px;">manosque|羽绒服|1,223.00 </div>
                <div style="text-align: left; line-height: 28px;">
                    <span>
                        Reserve at $<input style="width: 69px; border-color:#000000; border-style:solid;  border-top-width:0px; border-right-width:0px; border-bottom-width:1px; border-left-width:0px;padding:0px 5px;" type="text" />
                    </span>
                    <span style="height: 30px; line-height: 30px; display: block; ">
                        <a class="a-btn" style="font-size:12px; padding:6px 16px;" href="/Account/MyCart">Share</a>
                        <a class="a-btn" style="font-size:12px; padding:6px 6px;" href="/Account/MyCart">Add To Cart</a>
                    </span>
                </div>
            </div>
        </div>*@
</div>
