html {
    height: 100%;
}

html, body {
    font-family: 'Microsoft yahei','????',Tahoma,Verdana,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: none;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #f6f6f6;
    padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: rgb(80,80,80);
}

    a:link, a:visited {
        color: #555;
        text-decoration: none;
    }

    a:hover {
        color: #00a9e0;
        text-decoration: none;
        cursor: pointer;
    }

    a:active {
        color: #555;
        text-decoration: none;
    }

input[type=text], input[type=password] {
    height: 18px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 6px 0px;
    *padding: 8px 0px;
    _padding: 8px 0px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #00a9e0;
    color: #fff;
    border: 0px;
}

.btn-orange {
    background-color: #FF6600;
}

input[type=button].btn, input[type=submit].btn {
    padding: 6px 8px;
    font-family: 'Microsoft yahei','????',Tahoma,Verdana,Arial,sans-serif;
}

a.btn:hover, a.btn:link, a.btn:visited {
    color: #fff;
}

.btn-a {
    padding-left: 6px;
    padding-right: 6px;
}


.slider1-prev {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url("images/slider1-left.png");
}

.slider1-next {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url("images/slider1-right.png");
}

.left {
    float: left;
}

.right {
    float: right;
}

.preview-field {
    list-style: none;
    overflow: hidden;
}

    .preview-field li {
        *height: 30px;
        _height: 30px;
    }

        .preview-field li .field-name {
            display: block;
            width: 128px;
            float: left;
            cursor: default;
            height: 30px;
            line-height: 30px;
        }

        .preview-field li .field-value {
            height: 30px;
            line-height: 30px;
            margin-left: 120px;
        }

.gb {

}

.gb-1200{
    min-width:1200px;
}

.gbr > div > .content {
    height: 100%;
}



ul.horizontal {
    list-style: none;
}

    ul.horizontal li {
        float: left;
    }


.gbr-topmenus{
    padding-top:20px;
    padding-bottom:20px;
    
}


.gbr-topmenus ul.menu {
    width: 204px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    height:50px;
}


    .gbr-topmenus ul.menu li {
        width: 100px;
        height: 50px;
        line-height: 50px;
        text-align: center;
         border-left: 1px solid #000;
    }

.gbr-bottommenus {
    padding-bottom: 20px;
}

.gbr-bottommenus ul.menu {
    width: 603px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}


    .gbr-bottommenus ul.menu li {
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-left: 1px solid #000;
    }



