USE [master]
GO
/****** Object:  Database [LumosV4]    Script Date: 2016/5/17 22:49:14 ******/
CREATE DATABASE [LumosV4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LumosV4', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LumosV4.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LumosV4_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LumosV4_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LumosV4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LumosV4]
GO
/****** Object:  StoredProcedure [dbo].[Pro_StoredProcedurePage]    Script Date: 2016/5/17 22:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Pro_StoredProcedurePage]
(

	@TableName		varchar(1000),			-- 表名
	@ReturnFields	varchar(8000) = '*',	-- 需要返回的列
	@PageSize		int = 10,				-- 每页记录数
	@PageIndex		int = 1,				-- 当前页码
	@Where			varchar(8000) = '',		-- 查询条件
	@Orderfld		varchar(500),--,			-- 排序字段名最好为唯一主键
	@TotalRecord INT OUTPUT,      --返回记录总数
    @TotalPage int  OUTPUT,   --返回总页数
	@Sql          varchar(8000) output  -----最后返回的SQL语句
)
AS
BEGIN 
 SET NOCOUNT ON; 
    if(@PageIndex=0)
    begin
    set @PageIndex=1
    end
       else
    begin
     set @PageIndex= @PageIndex+1
    end
    
    DECLARE @OrderBy nvarchar(500)
	declare @statIndex  int
	declare @endIndex int
	
	if(@Orderfld='' or @Orderfld is null)
	begin
		set @OrderBy = ' Order by sncode '
	end
	else
	begin
		set @OrderBy = ' Order by ' + @Orderfld 
	end
        -- 记录总数
	declare @countSql nvarchar(4000)  
	set @countSql='SELECT @TotalRecord=Count(*) From '+@TableName+' where '+@Where

	execute sp_executesql @countSql,N'@TotalRecord int out',@TotalRecord out
	
	set @statIndex=(@PageIndex-1)*@PageSize + 1
	set @endIndex=@PageIndex*@PageSize

	SET @TotalPage=(@TotalRecord-1)/@PageSize+1
    SET @Sql=  ' SELECT * FROM ( SELECT ROW_NUMBER() OVER( '
		+@OrderBy+' ) AS [ROW_NUMBER], '
		+@ReturnFields+' FROM  '
		+@TableName+' where '+ISNULL(@Where,'1=1')+' ) AS t1 WHERE [t1].[ROW_NUMBER] BETWEEN '
		+STR(@statIndex)+' AND '+STR(@endIndex)

     exec(@Sql)
end

GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[RetailerId] [int] NOT NULL,
	[Category] [nvarchar](max) NULL,
	[Materials] [nvarchar](max) NULL,
	[Colors] [nvarchar](max) NULL,
	[Style] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Sizes] [nvarchar](max) NULL,
	[SmallImg] [nvarchar](max) NULL,
	[BigImg] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreateTime] [datetime] NULL,
	[RandomNo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Retailer]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Retailer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[BannerImg] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Priority] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Creator] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Mender] [int] NULL,
	[LastUpdateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.Retailer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysClientUser]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysClientUser](
	[Id] [int] NOT NULL,
	[FavoriteRetailers] [nvarchar](max) NULL,
	[FavoriteColors] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SysClientUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysMenu]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysMenu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[PId] [int] NOT NULL,
	[Url] [varchar](256) NULL,
	[Description] [nvarchar](512) NULL,
	[Priority] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SysMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SysMenuPermission]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysMenuPermission](
	[MenuId] [int] NOT NULL,
	[PermissionId] [varchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.SysMenuPermission] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SysMessage]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMessage](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](512) NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SysMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysOperateHistory]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysOperateHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](512) NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SysOperateHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysPageAccessRecord]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysPageAccessRecord](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PageUrl] [varchar](256) NULL,
	[Ip] [nvarchar](128) NULL,
	[AccessTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SysPageAccessRecord] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SysPermission]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysPermission](
	[Id] [varchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[PId] [varchar](128) NOT NULL,
	[Description] [nvarchar](512) NULL,
 CONSTRAINT [PK_dbo.SysPermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SysProvinceCity]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysProvinceCity](
	[Id] [varchar](128) NOT NULL,
	[PId] [varchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](128) NULL,
	[PhoneAreaNo] [nvarchar](128) NULL,
	[Zip] [nvarchar](128) NULL,
	[Creator] [int] NOT NULL,
	[CreateTime] [datetime] NULL,
	[Priority] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SysProvinceCity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SysRole]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PId] [int] NOT NULL,
	[Description] [nvarchar](512) NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.SysRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysRoleMenu]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRoleMenu](
	[RoleId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SysRoleMenu] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysRolePermission]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysRolePermission](
	[RoleId] [int] NOT NULL,
	[PermissionId] [varchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.SysRolePermission] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SysStaffUser]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysStaffUser](
	[Id] [int] NOT NULL,
	[RealName] [nvarchar](50) NULL,
	[Tel] [nvarchar](20) NULL,
	[Mobile] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.SysStaffUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysUser]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](68) NOT NULL,
	[SecurityStamp] [nvarchar](36) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[IsModifyPwd] [bit] NOT NULL,
	[SafetyProblem] [nvarchar](256) NULL,
	[SafetyProblemAnswer] [nvarchar](256) NULL,
	[FullName] [nvarchar](128) NULL,
	[FirstName] [nvarchar](128) NULL,
	[LastName] [nvarchar](128) NULL,
	[Address] [nvarchar](256) NULL,
	[HeadImg] [nvarchar](256) NULL,
	[RegisterTime] [datetime] NOT NULL,
	[LastLoginTime] [datetime] NULL,
	[LastLoginIp] [nvarchar](50) NULL,
	[IsDelete] [bit] NOT NULL,
	[IsDisable] [bit] NOT NULL,
	[Creator] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Mender] [int] NULL,
	[LastUpdateTime] [datetime] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SysUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysUserClaim]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserClaim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SysUserClaim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysUserLoginHistory]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysUserLoginHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[LoginType] [int] NOT NULL,
	[Ip] [varchar](128) NULL,
	[Country] [nvarchar](128) NULL,
	[Province] [nvarchar](128) NULL,
	[City] [nvarchar](128) NULL,
	[LoginTime] [datetime] NOT NULL,
	[Result] [int] NOT NULL,
	[Description] [nvarchar](512) NULL,
 CONSTRAINT [PK_dbo.SysUserLoginHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SysUserLoginProvider]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserLoginProvider](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SysUserLoginProvider] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysUserRole]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserRole](
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SysUserRole] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysVerifyEmail]    Script Date: 2016/5/17 22:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysVerifyEmail](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [varchar](128) NOT NULL,
	[Usage] [int] NOT NULL,
	[IsVerify] [bit] NOT NULL,
	[ExpireTime] [datetime] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SysVerifyEmail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [RetailerId], [Category], [Materials], [Colors], [Style], [Price], [Sizes], [SmallImg], [BigImg], [Description], [CreateTime], [RandomNo]) VALUES (1, N'', 1, N'Clothes', N'Wool', N'Green,Green', N'Striped', CAST(1000.00 AS Decimal(18, 2)), N'S,M,L,XL', N'/images/demo/saved/shirt/02.jpg', N'/images/demo/saved/shirt/02.jpg', NULL, NULL, 974882900)
INSERT [dbo].[Product] ([Id], [Name], [RetailerId], [Category], [Materials], [Colors], [Style], [Price], [Sizes], [SmallImg], [BigImg], [Description], [CreateTime], [RandomNo]) VALUES (2, N'', 1, N'Clothes', N'Silk', N'Red,Black', N'Striped', CAST(1000.00 AS Decimal(18, 2)), N'S,M,L,XL', N'/images/demo/saved/shirt/03.jpg', N'/images/demo/saved/shirt/03.jpg', NULL, NULL, 787969014)
INSERT [dbo].[Product] ([Id], [Name], [RetailerId], [Category], [Materials], [Colors], [Style], [Price], [Sizes], [SmallImg], [BigImg], [Description], [CreateTime], [RandomNo]) VALUES (3, N'', 1, N'Clothes', N'Linen', N'Orange,Blue', N'Striped', CAST(1000.00 AS Decimal(18, 2)), N'S,M,L,XL', N'/images/demo/saved/shirt/07.jpg', N'/images/demo/saved/shirt/07.jpg', NULL, NULL, 1454663374)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Retailer] ON 

INSERT [dbo].[Retailer] ([Id], [Name], [BannerImg], [Description], [Priority], [IsDelete], [Creator], [CreateTime], [Mender], [LastUpdateTime]) VALUES (1, N'Bonobos', N'/images/01.jpg', NULL, 0, 0, 0, CAST(0x0000A60901716092 AS DateTime), NULL, NULL)
INSERT [dbo].[Retailer] ([Id], [Name], [BannerImg], [Description], [Priority], [IsDelete], [Creator], [CreateTime], [Mender], [LastUpdateTime]) VALUES (2, N'Jcrew', N'/images/02.jpg', NULL, 0, 0, 0, CAST(0x0000A60901716092 AS DateTime), NULL, NULL)
INSERT [dbo].[Retailer] ([Id], [Name], [BannerImg], [Description], [Priority], [IsDelete], [Creator], [CreateTime], [Mender], [LastUpdateTime]) VALUES (3, N'Jack Erwin', N'/images/03.jpg', NULL, 0, 0, 0, CAST(0x0000A60901716092 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Retailer] OFF
INSERT [dbo].[SysClientUser] ([Id], [FavoriteRetailers], [FavoriteColors]) VALUES (2, NULL, NULL)
INSERT [dbo].[SysClientUser] ([Id], [FavoriteRetailers], [FavoriteColors]) VALUES (3, NULL, N'')
INSERT [dbo].[SysClientUser] ([Id], [FavoriteRetailers], [FavoriteColors]) VALUES (4, NULL, N'Green,Orange')
SET IDENTITY_INSERT [dbo].[SysMenu] ON 

INSERT [dbo].[SysMenu] ([Id], [Name], [PId], [Url], [Description], [Priority]) VALUES (1, N'Background System Menu', 0, N'#', N'', 0)
INSERT [dbo].[SysMenu] ([Id], [Name], [PId], [Url], [Description], [Priority]) VALUES (2, N'System Admin', 1, N'#', N'', 0)
INSERT [dbo].[SysMenu] ([Id], [Name], [PId], [Url], [Description], [Priority]) VALUES (3, N'Menus', 2, N'/Manager/Sys/Menu/Index', N'', 6)
SET IDENTITY_INSERT [dbo].[SysMenu] OFF
INSERT [dbo].[SysMenuPermission] ([MenuId], [PermissionId]) VALUES (3, N'Sys3000')
INSERT [dbo].[SysMenuPermission] ([MenuId], [PermissionId]) VALUES (4, N'Sys2000')
INSERT [dbo].[SysMenuPermission] ([MenuId], [PermissionId]) VALUES (5, N'Sys1000')
SET IDENTITY_INSERT [dbo].[SysPageAccessRecord] ON 

INSERT [dbo].[SysPageAccessRecord] ([Id], [UserId], [PageUrl], [Ip], [AccessTime]) VALUES (1, 0, N'/', N'::1', CAST(0x0000A60901715310 AS DateTime))
INSERT [dbo].[SysPageAccessRecord] ([Id], [UserId], [PageUrl], [Ip], [AccessTime]) VALUES (2, 0, N'/Product/List/1/0', N'::1', CAST(0x0000A609017164F7 AS DateTime))
INSERT [dbo].[SysPageAccessRecord] ([Id], [UserId], [PageUrl], [Ip], [AccessTime]) VALUES (3, 0, N'/Product/List/1/0', N'::1', CAST(0x0000A6090171B126 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SysPageAccessRecord] OFF
INSERT [dbo].[SysPermission] ([Id], [Name], [PId], [Description]) VALUES (N'Sys1000', N'UserManagement', N'0', NULL)
INSERT [dbo].[SysPermission] ([Id], [Name], [PId], [Description]) VALUES (N'Sys2000', N'RoleManagement', N'0', NULL)
INSERT [dbo].[SysPermission] ([Id], [Name], [PId], [Description]) VALUES (N'Sys3000', N'MenuManagement', N'0', NULL)
SET IDENTITY_INSERT [dbo].[SysRole] ON 

INSERT [dbo].[SysRole] ([Id], [PId], [Description], [Name]) VALUES (1, 0, N'', N'Root Role')
SET IDENTITY_INSERT [dbo].[SysRole] OFF
INSERT [dbo].[SysRoleMenu] ([RoleId], [MenuId]) VALUES (1, 1)
INSERT [dbo].[SysRoleMenu] ([RoleId], [MenuId]) VALUES (1, 2)
INSERT [dbo].[SysRoleMenu] ([RoleId], [MenuId]) VALUES (1, 3)
INSERT [dbo].[SysStaffUser] ([Id], [RealName], [Tel], [Mobile]) VALUES (1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SysUser] ON 

SET IDENTITY_INSERT [dbo].[SysUser] OFF
SET IDENTITY_INSERT [dbo].[SysUserLoginHistory] ON 

INSERT [dbo].[SysUserLoginHistory] ([Id], [UserId], [LoginType], [Ip], [Country], [Province], [City], [LoginTime], [Result], [Description]) VALUES (1, 3, 1, N'113.108.198.138', NULL, NULL, NULL, CAST(0x0000A60901720376 AS DateTime), 1, N'Login success ')
INSERT [dbo].[SysUserLoginHistory] ([Id], [UserId], [LoginType], [Ip], [Country], [Province], [City], [LoginTime], [Result], [Description]) VALUES (2, 4, 1, N'::1', NULL, NULL, NULL, CAST(0x0000A609017427EA AS DateTime), 1, N'Login success ')
INSERT [dbo].[SysUserLoginHistory] ([Id], [UserId], [LoginType], [Ip], [Country], [Province], [City], [LoginTime], [Result], [Description]) VALUES (3, 3, 1, N'::1', NULL, NULL, NULL, CAST(0x0000A6090174F360 AS DateTime), 1, N'Login success ')
SET IDENTITY_INSERT [dbo].[SysUserLoginHistory] OFF
INSERT [dbo].[SysUserRole] ([RoleId], [UserId]) VALUES (1, 1)
/****** Object:  Index [IX_Id]    Script Date: 2016/5/17 22:49:15 ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[SysClientUser]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2016/5/17 22:49:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[SysRole]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 2016/5/17 22:49:15 ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[SysStaffUser]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 2016/5/17 22:49:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[SysUser]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2016/5/17 22:49:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[SysUserClaim]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2016/5/17 22:49:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[SysUserLoginProvider]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 2016/5/17 22:49:15 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[SysUserRole]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2016/5/17 22:49:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[SysUserRole]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SysClientUser]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SysClientUser_dbo.SysUser_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[SysUser] ([Id])
GO
ALTER TABLE [dbo].[SysClientUser] CHECK CONSTRAINT [FK_dbo.SysClientUser_dbo.SysUser_Id]
GO
ALTER TABLE [dbo].[SysStaffUser]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SysStaffUser_dbo.SysUser_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[SysUser] ([Id])
GO
ALTER TABLE [dbo].[SysStaffUser] CHECK CONSTRAINT [FK_dbo.SysStaffUser_dbo.SysUser_Id]
GO
ALTER TABLE [dbo].[SysUserClaim]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SysUserClaim_dbo.SysUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[SysUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SysUserClaim] CHECK CONSTRAINT [FK_dbo.SysUserClaim_dbo.SysUser_UserId]
GO
ALTER TABLE [dbo].[SysUserLoginProvider]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SysUserLoginProvider_dbo.SysUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[SysUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SysUserLoginProvider] CHECK CONSTRAINT [FK_dbo.SysUserLoginProvider_dbo.SysUser_UserId]
GO
ALTER TABLE [dbo].[SysUserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SysUserRole_dbo.SysRole_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[SysRole] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SysUserRole] CHECK CONSTRAINT [FK_dbo.SysUserRole_dbo.SysRole_RoleId]
GO
ALTER TABLE [dbo].[SysUserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SysUserRole_dbo.SysUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[SysUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SysUserRole] CHECK CONSTRAINT [FK_dbo.SysUserRole_dbo.SysUser_UserId]
GO
USE [master]
GO
