@model WebSite.Areas.Manager.Models.LogView.IndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutHomeMainList.cshtml";
}



<table class="list-tb" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th style="width:20%">
                Log
            </th>
            <th style="width:80%">
                LastTime
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Files.Length>0)
            {
                foreach (var file in Model.Files)
                {

                    <tr>
                        <td>
                            <a href="?Parent=@Model.Parent&File=@file.Name">@file.Name</a>
                        </td>
                        <td>
                            @file.LastWriteTime.ToUnifiedFormatDateTime()
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="emptytip">No data</td>
                </tr>
            }
        }

    </tbody>
</table>









