@{
    ViewBag.Title = "Modify User Info";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutEdit.cshtml";
}

@section scripts{
<script src="/Scripts/Manager/Jquery.tree/jquery.ztree.excheck-3.2.js"></script>
    <script type="text/javascript">
        <!--
        //配置树形
        var setting = {
            view: {
                selectedMulti: false
            },
            check: {
                enable: true,
                chkboxType: { "Y": "s", "N": "s" }
            },
            data: {
                simpleData: {
                    enable: true
                }
            }
        };

        function loadTreeList() {
            var id = $.lumos.getUrlParamValue("id");

            $.lumos.post({
                url: "../User/GetUserRoleTree",
                data: { userId: id },
                success: function (data) {
                    var zNodes = data.content;
                    $.fn.zTree.init($("#treeul"), setting, zNodes);
                }
            });

        }
        $(this).ready(function () {
            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { art.dialog.alert(msg); }, onSuccess: function () { return edit(); } });


            $("#txt_RealName").formValidator({ onShow: "Required!", onFocus: "Required,and no more than 20 characters!", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 20, empty: { leftEmpty: false, emptyError: " no space ！" }, onError: "Required,and no more than 20 characters!" }).defaultPassed();
            $("#txt_UserName").formValidator({ onShow: "Required!", onFocus: "Required,3 to 20 numbers, English letters or underscores!", onCorrect: "&nbsp;" }).regexValidator({ min: 3, max: 20, regExp: "^[0-9a-zA-Z_]{3,20}$", onError: "Required,3 to 20 numbers, English letters or underscores!" }).defaultPassed();
            $("#txt_Email").formValidator({ onShow: "Required!", onFocus: "Empty,or email format and no more than 50 characters!", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).inputValidator({ min: 0, max: 50, onError: "Empty,or email format and no more than 50 characters!" }).regexValidator({ regExp: regexEnum.email, onError: "Empty,or email format and no more than 50 characters!" });
            $("#txt_Tel").formValidator({ onShow: "Required!", onFocus: "Empty,or no more than 20 numbers!", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).regexValidator({ regExp: regexEnum.tel2, onError: "Empty,or no more than 20 numbers!" });
            $("#txt_Mobile").formValidator({ onShow: "Required!", onFocus: "Empty,or Equal to 11 numbers!", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).regexValidator({ regExp: regexEnum.mobile, onError: "Empty,or no more than 20 numbers!" });



            getDetail();
            loadTreeList();

            $("#abtn-editPwd").toggle(function () {
                $("#lbl_Password").hide();
                $("#txt_Password").show();
                $(this).text("Cancle");
            }, function () {
                $("#lbl_Password").show();
                $("#txt_Password").hide();
                $("#txt_Password").val("");
                $(this).text("Modify");
            }
            );
        });

        function edit() {

            var treeObj = $.fn.zTree.getZTreeObj("treeul");
            var nodes = treeObj.getCheckedNodes(true);
            var l_strs = "";
            for (var key in nodes) {
                l_strs += nodes[key].id + ",";
            }
            if (l_strs != "") {
                l_strs = l_strs.substring(0, l_strs.length - 1);
            }

            $("#txt_RoleIds").val(l_strs);
            var l_Data = $("#form1").serializeArray();
            l_Data.push({ name: "userId", value: $.lumos.getUrlParamValue("id") });
            $.lumos.post({
                url: "../User/UpdateUser",
                data: l_Data,
                success: function (data) {
                    if (data.result == "Success") {
                        var win = art.dialog.open.origin;
                        win.listTableData("c");
                    }
                    art.dialog.alert(data.message, function () { art.dialog.close(); })
                    //art.dialog(data.message, function () { art.dialog.close(); });

                }
            });
            return false;
        }

        function getDetail() {

            $.lumos.post({
                url: "../User/GetUserDetail",
                data: { userId: $.lumos.getUrlParamValue("id") },
                success: function (data) {
                    if (data.result == "Success") {
                        $("#txt_Id").val(data.content.Id);
                        $("#txt_RealName").val(data.content.RealName);
                        $("#txt_UserName").val(data.content.UserName);
                        $("#lbl_UserName").text(data.content.UserName)
                        //$("#txt_Password").val("******");
                        $("#txt_Email").val(data.content.Email);
                        $("#txt_Tel").val(data.content.Tel);
                        $("#txt_Mobile").val(data.content.Mobile);
                    }
                }
            });
        }

        //-->
    </script>
}

<div class="gbr gbr-maintitle" id="gbr-maintitle">
    <div class="wrapper">
        <div class="content">
            <span class="title-icon">@ViewBag.Title</span>
            <span class="title-message"></span>
        </div>
    </div>
</div>

<div class="gbr gbr-mainbody" id="gbr-mainbody">
    <div class="wrapper">
        <div class="content">
            <form id="form1" name="form1" enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <table class="f-tb" cellpadding="0" cellspacing="1">
                    <tr>
                        <td class="f-tb-i" colspan="4">
                            Base
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            Name：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_RealName" type="text" id="txt_RealName" style="width: 150px;" />
                            <span id="txt_RealNameTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            Account：
                        </td>
                        <td class="f-tb-c">
                            <label id="lbl_UserName"></label>
                            <input name="txt_UserName" type="hidden" id="txt_UserName" autocomplete="off"  style="width: 150px;" />
                            @*<span id="txt_UserNameTip"></span>*@
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            Password：
                        </td>
                        <td class="f-tb-c">
                            <label id="lbl_Password">******</label>
                            <input name="txt_Password" type="password" id="txt_Password" autocomplete="off" style="width: 150px; display:none"  />
                            <a class="a-btn" id="abtn-editPwd" href="javascript:void(0)">Modify</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            E-mail：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_Email" type="text" id="txt_Email" style="width: 150px;" />
                            <span id="txt_EmailTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">TelPhone：</td>
                        <td class="f-tb-c">
                        <input name="txt_Tel" type="text" id="txt_Tel" style="width: 150px;" />
                            <span id="txt_TelTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            Mobile：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_Mobile" type="text" id="txt_Mobile" style="width: 150px;" />
                            <span id="txt_MobileTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-i" colspan="4">
                            Select Role
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-c" colspan="4">
                            <ul id="treeul" class="ztree"></ul>
                            <input name="txt_RoleIds" type="hidden" id="txt_RoleIds" />
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t"></td>
                        <td class="f-tb-c">
                            <input type="submit" name="btn_Submit" id="btn_Submit" value="Save" class="f-tb-btn" />
                            <input type="button" name="btn_Cancle" id="btn_Cancle" value="Close" class="f-tb-btn" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>