
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutHomeDialog.cshtml";
}

@section scripts{
    <script type="text/javascript">
        <!--
        $(this).ready(function () {
            var id = $.lumos.getUrlParamValue("id");
            var pName = $.lumos.getUrlParamValue("pName");
            $("#lbl_PName").text(pName);

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) {  }, onSuccess: function () { return add(); } });
            $("#txt_Name").formValidator({ onShow: "&nbsp;", onFocus: "Required,no more than 20 char", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 20, onError: "Required,no more than 20 char" });
            $("#txt_Description").formValidator({ onShow: "&nbsp;", onFocus: "No more than 500 char", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).inputValidator({ min: 0, max: 500, onError: "No more than 500 char" });
        });

        function add() {
            var l_Data = $("#form1").serializeArray();
            l_Data.push({ name: "PId", value: $.lumos.getUrlParamValue("id") });

            $.lumos.postJson({
                url: "../Role/Add",
                data: l_Data,
                success: function (data) {
                    if (data.result == "Success") {
                        var win = art.dialog.open.origin;
                        win.loadTreeList($.lumos.getUrlParamValue("id"));
                        win.art.dialog.tips(data.message);
                        $.lumos.cloaseDialog();
                    }
                }
            });

            return false;
        }
        //-->
    </script>
}



<form name="form1" method="post" id="form1">
    @Html.AntiForgeryToken()
    <table class="f-tb" cellpadding="0" cellspacing="1">
        <tr>
            <td class="f-tb-t">
                ParentName：
            </td>
            <td class="f-tb-c">
                <label id="lbl_PName"></label>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                Name：
            </td>
            <td class="f-tb-c">
                <input name="Name" type="text" id="txt_Name" value="" class="input-control" style="width:250px;" />
                <span id="txt_NameTip"></span>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                Remarks：
            </td>
            <td class="f-tb-c" style="white-space:normal;">
                <textarea name="Description" rows="5" cols="42" id="txt_Description" class="input-control"></textarea>
                <span id="txt_DescriptionTip"></span>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t"></td>
            <td class="f-tb-c">
                <input type="submit" name="btn_Submit" id="btn_Submit" value="Comfirm" class="btn btn-sure" />
                <input type="button" name="btn_Cancle" id="btn_Cancle" value="Close" class="btn btn-close dialog-close" />
            </td>
        </tr>
    </table>
</form>
