@{
    ViewBag.Title = "Menu";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutTree.cshtml";
}

@section scripts{
    <script src="/Scripts/Jquery.tree/jquery.ztree.excheck-3.2.js"></script>
    <script type="text/javascript">
    <!--

        //配置树形
        var setting = {
            view: {
                selectedMulti: false
            },
            check: {
                enable: true
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                onCheck: onCheck
            }
        };

        var zNodes;


        function onCheck(e, treeId, treeNode) {

         
        }



        $(document).ready(function () {
            var treeData = @Html.Raw(ViewBag.InitTreeData)
            $.fn.zTree.init($("#treeList"), setting, treeData);


            $("input[name='btn_Submit'").click(function () {

                save();

            });
        });


        function save() {

            var treeObj = $.fn.zTree.getZTreeObj("treeList");
            var nodes = treeObj.getCheckedNodes(true);
          
            var l_strs = "";
            for (var key in nodes) {
                l_strs += nodes[key].id + ",";
            }
            if (l_strs != "") {
                l_strs = l_strs.substring(0, l_strs.length - 1);
            }


            var data = $("#form1").serializeArray();
            data.push({ name: "nodes", value: l_strs });
          
            $.ajax({
                type: "post",
                url: "../Role/SaveMenu/@Request.RequestContext.RouteData.Values["id"]",
                dataType: "json",
                data: data,
                success: function (data) {

                    alert(data.message);

                }
            });


            return false;
        }

    //-->
    </script>
}
<form name="form1" method="post" action="#" id="form1">

    @Html.AntiForgeryToken()

    <div>
        <div>
            <input type="button" name="btn_Submit" id="btn_Submit" value="保存" />
        </div>
        <ul id="treeList" class="ztree"></ul>
        <div>
            <input type="button" name="btn_submit" id="btn_Submit2" value="保存" />
        </div>
    </div>
</form>

