@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutList.cshtml";
}
@section scripts{
    <script type="text/javascript">
        var sescondBoxSel;
        var searchCondition;
        $(document).ready(function () {
            searchCondition = $(".firCon").serializeArray();
            listTableData(0); //默认第一页
        });

        //列表加载数据
        function listTableData(pageIndex) {
            var l_Data = searchCondition;
            $.lumos.dataParmsPush(l_Data, "roleId", $.lumos.getUrlParamValue("roleId"));
            $.lumos.dataParmsPush(l_Data, "op", 2);
            $("#list_table").loadDataTable({
                url: "../Role/GetNotBindUsers",
                pageIndex: pageIndex,
                dataParms: l_Data,
                rowFun: function rowtd(p_index, p_row) {
                    var l_Strlimt = "";
                    l_Strlimt += "<a href=\"javascript:void(0)\" class=\"a-btn-sel\" onclick=\"javascript:listTableSel(this,false,'{key}');\">Select</a>";
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"tb_cbox\"  key=\"" + p_row.Id + "\"><a styple=\"padding-left:2px\">" + (p_index + 1) + "</a></td>";
                    l_StrRows += "<td class=\"td_overflow tb_CurSel\" title=\"" + p_row.UserName + "\" >" + p_row.UserName + "</td>";
                    l_StrRows += "<td class=\"td_overflow\" title=\"" + p_row.RealName + "\" >" + p_row.RealName + "</td>";
                    l_StrRows += "<td class=\"tb-operation lumos_btnarea\">";
                    l_StrRows += l_Strlimt;
                    l_StrRows = l_StrRows.replace(/{key}/g, p_row.Id);
                    l_StrRows += "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                }
            });
        }

        //保存选择
        function listTableSel(object, multiSelect, data) {

            $("#list_table").operateData({
                object: object,
                data: data,
                multiSelect: multiSelect,
                selectTip: "Please select the data you want to seleced！",
                confirmTip: "Are you sure you want to add the selected data？\r\n",
                ok: function (sekKeys) {
                    var roleId = $.lumos.getUrlParamValue("roleId");
                    $.lumos.post({
                        url: "../Role/AddRoleUser",
                        data: { roleId: roleId, userIds: sekKeys },
                        success: function (data) {
                            if (data.result == "Success") {
                                var win = art.dialog.open.origin;
                                win.listTableData(0);
                            }
                            art.dialog.alert(data.message, function () { art.dialog.close(); });
                        }
                    });
                }
            });

            return false;
        }

        //执行一般查询按钮
        function firstBoxSel() {
            searchCondition = $(".firCon").serializeArray();
            listTableData(0);
        }

    </script>

    <style type="text/css">
        .gb{
            height:auto;
        }
    </style>
}


<div class="gbr gbr-maintitle" id="gbr-maintitle">
    <div class="wrapper">
        <div class="content">
            <span class="title-icon">@ViewBag.Title</span>
            <span class="title-message"></span>
        </div>
    </div>
</div>

<form id="form1" name="form1">
    @AntiForgery.GetHtml()
    <div class="l">
        <div class="l-que">
            <div class="l-que-search">
                <ul class="l-que-search-condition">
                    <li class="item"><label>Account：</label> <input type="text" id="txt_UserName" name="txt_UserName" class="firCon" /></li>
                    <li class="item">
                        <label>Name：</label> <input type="text" id="txt_RealName" name="txt_RealName" class="firCon" />
                        <input type="button" name="btn_FirstBoxSel" id="btn_FirstBoxSel" value="Search" class="l-btn" onclick="javascript: firstBoxSel();" />
                        <input type="button" name="btn_Close" id="btn_Close" value="Go Back" class="l-btn" onclick="javascript: art.dialog.close();" />

                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="l-btn-area">
            <a id="abtn_sel" class="a-btn-sel" onclick="javascript: return listTableSel(this,true, 0);" href="javascript:void(0)" target="_self">Select </a>
        </div>
        <div class="l-list">
            <table id="list_table" class="l-list-tb">
                <thead>
                    <tr>
                        <th style='width: 5%'>
                            <input id="list_table_CheckAll" type="checkbox" name="list_table_CheckAll" onclick="javascript: return $.lumos.selTableCheckBox(this.checked, this.id);" />
                        </th>
                        <th style='width: 40%'>
                            Account
                        </th>
                        <th style='width: 45%'>
                            Name
                        </th>
                        <th class="tb-operation" style='width: 10%;'>
                            <a class="hide">Operate</a>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="clear">
    </div>
</form>
