
@{
    ViewBag.Title = "Modify Role";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutEdit.cshtml";
}
@section scripts{
    <script type="text/javascript">
    <!--
        $(this).ready(function () {

            var l_type = "@Request.RequestContext.RouteData.Values["type"]";
            if (l_type == "Register") {
                $.formValidator.initConfig({ formID: "form1", onError: function (msg) { alert(msg); }, onSuccess: function () { return register(); } });
                $("#txt_Name").formValidator({ onShow: "请输入！", onFocus: "请输入！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, empty: { leftEmpty: false, emptyError: "不能为空！" }, onError: "不能为空,请确认！" });
            }
        });

        function register() {
            $.ajax({
                type: "post",
                url: "../Role/Create",
                dataType: "json",
                data: $('#form1').serialize(),
                success: function (data) {

                    alert(data.message);

                }
            });
            return false;
        }

    //-->
    </script>
}

<form name="form1" method="post" action="#" id="form1">
    @Html.AntiForgeryToken()
    <table class="f-tb" cellpadding="0" cellspacing="1">
        <tr>
            <td class="f-tb-t">
                名称：
            </td>
            <td class="f-tb-c">
                <input name="txt_Name" type="text" id="txt_Name" value="" />
                <span id="txt_NameTip"></span>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                描述：
            </td>
            <td class="f-tb-c">
                <input name="txt_Description" type="text" id="txt_Description" value="" />
                <span id="txt_DescriptionTip"></span>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t"></td>
            <td class="f-tb-c">
                <input type="submit" name="btn_Submit" id="btn_Submit" value="提交" class="list_btn" />
                <input type="button" name="btn_Cancle" id="btn_Cancle" value="关闭" class="list_btn" />
            </td>
        </tr>
    </table>
</form>