@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section styles{
    <style type="text/css">
        .gbr-signin > .wrapper > .content {
            margin: 80px auto;
        }

        .signin-box {
            width: 430px;
            margin: 0px auto;
        }
    </style>
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery.formValidator.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.formValidatorRegex.js"></script>
    <script type="text/javascript">


        function signin() {

            var msgObj = $("#lbl_Message");
            $(msgObj).text("");
            var userName = $("#txt_UserName").val().replace(/(^\s*)|(\s*$)/g, "");
            var passWord=$("#txt_Password").val();

            if (userName.length == 0) {
                $(msgObj).text("Please enter your account");
                return false;
            }
            else {
                var myReg =@Html.Raw(@"/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/");
                if(!myReg.test(userName))
                {
                    $(msgObj).text("Account must be email format");
                    return false;
                }
            }

            if (passWord.length == 0) {
                $(msgObj).text("Please enter your password");
                return false;
            }

            $.ajax({
                type: "post",
                url: "/Account/SignIn",
                dataType: "json",
                data: $('#form1').serialize(),
                beforeSend: function (data) {
                    $(msgObj).text("SignIn...");
                }
            }).done(function (data) {

                if (data.result == "Success") {
                    $(msgObj).text("");
                    window.location.href = data.content.Url;
                }
                else {
                    $(msgObj).text(data.message);
                }

            });


            return false;
        }

    </script>
}
<div class="gbr gbr-signin">
    <div class="wrapper">
        <div class="content clearfix">
            <form id="form1">
                @Html.AntiForgeryToken()
                <div class="h-form-container signin-box">
                    <dl class="h-entry clearfix">
                        <dt class="h-entry-label">&nbsp;</dt>
                        <dd class="h-entry-values">
                            <span class="h-item " id="lbl_Message"></span>
                            <div class="clear"></div>
                        </dd>
                    </dl>
                    <dl class="h-entry clearfix">
                        <dt class="h-entry-label">UserName：</dt>
                        <dd class="h-entry-values">
                            <span class="h-item "><input type="text" id="txt_UserName" name="UserName" class="input-control" value="" style="width:180px;" /></span>
                            <div class="clear"></div>
                        </dd>
                    </dl>
                    <div class="h-line"></div>
                    <dl class="h-entry">
                        <dt class="h-entry-label">Password：</dt>
                        <dd class="h-entry-values">
                            <span class="h-item"><input type="password" id="txt_Password" name="Password" class="input-control" value="" style="width: 180px;" /></span>
                            <div class="clear"></div>
                        </dd>
                    </dl>
                    <div class="h-line"></div>
                    <dl class="h-entry">
                        <dt class="h-entry-label">&nbsp;</dt>
                        <dd class="h-entry-values">
                            <span class="h-item">
                                <a class="a-btn" href="javascript:void(0)" onclick="signin()">Sign In</a>
                                <a class="a-btn" href="/Account/SignUp">Sign Up</a>
                            </span>
                            <div class="clear"></div>
                        </dd>
                    </dl>
                </div>
            </form>
        </div>
    </div>
</div>

