@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutHomeMainEdit.cshtml";
}

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            //密码验证
            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { }, onSuccess: function () { return savePassword(); } });
            $("#txt_OldPassword").formValidator({ onShow: "&nbsp;", onFocus: "Required,6 to 20 Numbers, letters or underscores", onCorrect: "&nbsp;" }).regexValidator({ regExp: regexEnum.password, onError: "Required,6 to 20 Numbers, letters or underscores", empty: { isUseLeftRightEmptySize: true } });
            $("#txt_NewPassword").formValidator({ onShow: "&nbsp;", onFocus: "Required,6 to 20 Numbers, letters or underscores", onCorrect: "&nbsp;" }).regexValidator({ regExp: regexEnum.password, onError: "Required,6 to 20 Numbers, letters or underscores", empty: { isUseLeftRightEmptySize: true } });
            $("#txt_NewPassword2").formValidator({ onShow: "&nbsp;", onFocus: "Required,6 to 20 Numbers, letters or underscores", onCorrect: "&nbsp;" }).regexValidator({ regExp: regexEnum.password, onError: "Required,6 to 20 Numbers, letters or underscores", empty: { isUseLeftRightEmptySize: true } }).compareValidator({ desID: "txt_NewPassword", operateor: "=", onError: "The two passwords differ" });

        });


        function savePassword() {

            $.lumos.postJson({
                url: "/Manager/Home/ChangePassword",
                data: $("#form1").serializeArray(),
                success: function (data) {
                    if (data.result == "Success") {
                        $.lumos.messageBox({ type: 'success', showBoxId: 'changepassword_box', isPopup: false, title: "Success", content: data.message });
                    }
                    else {
                        art.dialog.tips(data.message);
                    }
                }
            });

            return false;
        }

    </script>
}

<div class="gbr-row gbr-row-changepassword" id="changepassword_box">

    <form id="form1" name="form1">
        @Html.AntiForgeryToken()

        <div class="h-form-container changepassword-box">
            <div class="h-entries">

                <dl class="h-entry clearfix">
                    <dt class="h-entry-label">Old Password：</dt>
                    <dd class="h-entry-values">
                        <span class="h-item ">
                            <input type="password" id="txt_OldPassword" name="OldPassword" class="input-control" value="" style="width:200px;" />
                            <span id="txt_OldPasswordTip"></span>
                        </span>
                    </dd>
                </dl>

                <div class="h-line">
                </div>
                <dl class="h-entry clearfix">
                    <dt class="h-entry-label">Password：</dt>
                    <dd class="h-entry-values">
                        <span class="h-item ">
                            <input type="password" id="txt_NewPassword" class="input-control" value="" style="width:200px;" />
                            <span id="txt_NewPasswordTip"></span>
                        </span>
                    </dd>
                </dl>
                <div class="h-line">
                </div>
                <dl class="h-entry clearfix">
                    <dt class="h-entry-label">Confirm Password：</dt>
                    <dd class="h-entry-values">
                        <span class="h-item ">
                            <input type="password" id="txt_NewPassword2" name="NewPassword" class="input-control" value="" style="width:200px;" />
                            <span id="txt_NewPassword2Tip"></span>
                        </span>
                    </dd>
                </dl>
                <div class="h-line">
                </div>
                <dl class="h-entry clearfix">
                    <dt class="h-entry-label"></dt>
                    <dd class="h-entry-values">
                        <span class="h-item "><input type="submit" class="btn btn-sure" value="Confirm" style="width: 225px;" /></span>
                    </dd>
                </dl>
            </div>
        </div>



    </form>
</div>


