@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutHome.cshtml";
}
@section styles{
    <style type="text/css">
        .gbr-main, .gbr-main > .wrapper > .content {
            background-color: transparent;
        }

        .gbr-footer, .gbr-footer a, .gbr-footer a:visited,.gbr-footer .copyright {
            color: #fff;
        }
    </style>
}
<div class="bg-page-login"></div>
<div class="gbr-row gbr-row-login">
    <form id="form1" onsubmit="return login()">
        @Html.AntiForgeryToken()
        <div class="h-form-container login-box">
            <div class="h-message">
                <span id="lbl_Message"></span>
            </div>
            <dl class="h-entry clearfix">
                <dt class="h-entry-label">UserName：</dt>
                <dd class="h-entry-values">
                    <span class="h-item "><input type="text" id="txt_UserName" name="UserName" value="" style="width:180px;" /></span>
                    <div class="clear"></div>
                </dd>
            </dl>
            <div class="h-line"></div>
            <dl class="h-entry">
                <dt class="h-entry-label">Password：</dt>
                <dd class="h-entry-values">
                    <span class="h-item"><input type="password" id="txt_Password" name="Password" value="" style="width: 180px;" /></span>
                    <div class="clear"></div>
                </dd>
            </dl>
            <div class="h-line"></div>
            <dl class="h-entry clearfix">
                <dt class="h-entry-label">Code：</dt>
                <dd class="h-entry-values">
                    <span class="h-item"><input type="text" id="txt_VerifyCode" name="txt_VerifyCode" value="" style="width: 100px;" /><img id="img_VerifyCode" style="border:0px;" class="img-verify" alt="验证码" /></span>
                    <div class="clear"></div>
                </dd>
            </dl>
            <div class="h-line"></div>
            <div class="h-button">
                <input type="submit" id="btn_Login" name="btn_Login" value="Sign In" style="width: 100%;" />
                <div class="clear"></div>
            </div>
        </div>
    </form>
</div>

@section scriptsbyend{
    <script type="text/javascript">

        function login() {
            var msgObj = $("#lbl_Message");
            $(msgObj).text("");
            var userName = $("#txt_UserName").val().replace(/(^\s*)|(\s*$)/g, "");
            var passWord=$("#txt_Password").val();
            var verifyCode=$("#txt_VerifyCode").val().replace(/(^\s*)|(\s*$)/g, "");

            if (userName.length == 0) {
                $(msgObj).text("Please enter your account");
                return false;
            }


            @*else {
                var myReg =@Html.Raw(@"/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/");
                if(!myReg.test(userName))
                {
                    $(msgObj).text("用户名必须为邮箱格式");
                    return false;
                }
            }*@

            if (passWord.length == 0) {
                $(msgObj).text("Please enter your password");
                return false;
            }

            if (verifyCode.length == 0) {
                $(msgObj).text("Please enter code");
                return false;
            }
            else {
                if(verifyCode.length!=4){
                    $(msgObj).text("Code must be a four bit character");
                    return false;
                }
            }
            $("#btn_Login").attr("disabled","disabled");
            $.ajax({
                type: "post",
                url: "/Manager/Home/Login",
                dataType: "json",
                data: $('#form1').serialize(),
                beforeSend: function (data) {
                    $(msgObj).text("login...");
                },
                complete: function (XMLHttpRequest, status) {
                    if (status == 'timeout') {
                        $("#btn_Login").removeAttr("disabled")
                        art.dialog.tips("Network request timeout, please re open the page ");
                    }
                    else if (status == 'error') {
                        $("#btn_Login").removeAttr("disabled");
                        art.dialog.tips("Network request failed, please check whether the network has been connected ");
                    }
                }
            }).done(function (data) {
                if (data.result == "Success") {
                    $(msgObj).text("");
                    window.location.href = data.content.Url;
                }
                else {
                    $("#btn_Login").removeAttr("disabled");
                    imgVerifyCode.getCode();
                    $(msgObj).text(data.message);
                }
            });
            return false;
        }

        var imgVerifyCode;
        $(document).ready(function () {

            imgVerifyCode = $.imgVerifyCode.init({
                imgId: 'img_VerifyCode',
                btnId: 'a_VerifyCode',
                sessionName: 'ManagerLoginVerifyCode'
            });

        });
    </script>
}




