@{
    ViewBag.Title = "主界面";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div>
    <br />
    <br />
    <br />
    <div class="iframe_right">
        <img src="~/Content/Manager/base/images/right.gif" />
    </div>

</div>

