@model  WebSite.Areas.Manager.Models.MessageBoxModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageBox</title>
</head>
<body>
    <div> 
        @Model.Title
    </div>
</body>
</html>
