@model WebSite.Models.Home.IndexModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section styles{
    <style type="text/css">
        .gbr-main > .wrapper > .content {
            max-width: 1200px;
        }
    </style>
}
@section scriptsbyend{
    <script type="text/JavaScript" src="/Scripts/CloudCarousel.1.0.5.js"></script>
    <script type="text/javascript">
        function initCarousel() {
            var w_h = $(window).height();
            var c_h = w_h - 170;

            if (c_h < 500) {
                c_h = 500;
            }

            if (c_h > 600) {
                c_h = 550;
            }

            $("#home_carousel").height(c_h);

            var yPos = c_h - (c_h / 1.19);

            // 这初始化容器中指定的元素，在这种情况下，旋转木马.
            $("#home_carousel").CloudCarousel({
                xPos: 570,
                yPos: yPos,
                buttonLeft: $('#home_carousel_left'),
                buttonRight: $('#home_carousel_right'),
                buttonMouseOver: false,
                altBox: $("#alt-text"),
                titleBox: $("#title-text"),
                FPS: 30,
                reflHeight: null,
                reflGap: 2,
                yRadius: 100,
                autoRotateDelay: 1200,
                speed: 0.2,
                mouseWheel: false,
                bringToFront: true
            });
            var top = c_h / 2 - 20;
            $("#home_carousel_left,#home_carousel_right").css("top", top + "px")

        }

        $(window).resizeEnd({
            delay: 100
        }, function () {
            initCarousel();
        });

        $(document).ready(function () {
            initCarousel();

            $("#home_carousel .item img").each(function () {
                $(this).click(function () {
                    var iscenter = $(this).attr("iscenter");
                    var id = $(this).attr("retailer");
                    if (iscenter == "true") {
                        window.location.href = "/Product/List/" + id + "/0";
                    }
                });
            });
        });
    </script>
}
<!--Retailers Start-->
<div class="gbr gbr-home-carousel">
    <div class="wrapper">
        <div class="content clearfix">
            <div id="home_carousel">
                <p id="title-text"></p>
                <p id="alt-text"></p>

                @for (int i = 0; i < Model.Retailers.Count; i++)
                {
                    var IsCcenter = "false";
                    if (i == 0)
                    {
                        IsCcenter = "true";
                    }

                    <a id="Retailer_@Model.Retailers[i].Id" href="javascript:void(0)" target="_parent" class="item"><img id="RetailerBannerImg_@Model.Retailers[i].Id" retailer="@Model.Retailers[i].Id" class="cloudcarousel" data="@(i+1)" src="@Model.Retailers[i].BannerImg" alt="" iscenter="@IsCcenter" /></a>
                }
                @*<a href="javascript:void(0)" target="_parent" class="item"><img id="1" class="cloudcarousel" data="1" src="/images/01.jpg" alt="p1" iscenter="true" /></a>
                    <a href="javascript:void(0)" target="_parent" class="item"><img id="2" class="cloudcarousel" data="2" src="/images/02.jpg" alt="p2" iscenter="false" /></a>
                    <a href="javascript:void(0)" target="_parent" class="item"><img id="3" class="cloudcarousel" data="3" src="/images/03.jpg" alt="p3" iscenter="false" /></a>
                    <a href="javascript:void(0)" target="_parent" class="item"><img id="4" class="cloudcarousel" data="4" src="/images/04.jpg" alt="p4" iscenter="false" /></a>
                    <a href="javascript:void(0)" target="_parent" class="item"><img id="5" class="cloudcarousel" data="5" src="/images/05.jpg" alt="p5" iscenter="false" /></a>*@


                <div id="home_carousel_left" class="carouselLeft"></div>
                <div id="home_carousel_right" class="carouselRight"></div>
            </div>
        </div>
    </div>
</div>
<!--Retailers End-->
